doctype html
html
	head
		title Hovedbanegården
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
		script.
			locations = !{locations};
		link(href='/stylesheets/index.css', rel='stylesheet')
	body

		nav.navbar.navbar-default.navbar-fixed-top
			div.container-fluid
				ul.nav.navbar-nav
					each val in weekdays
						li
							a.green(href='/days/'+val)= val

		div.container
				div.jumbotron
					center
						h1.title-text Aarhus Hovedbanegård
						p Discover interesting metrics and statistics on train departures and arrivals here!
						p This website uses the Rejseplan API to create a look into the coming week of train departures. 
						br
						img.img-rounded(src='http://gis.aarhus.dk/kommuneatlas/gadebeskrivelser/Banegaardspladsen_1.jpg')
						br
						br
						p Did you know that from today until next #{weekdays[0]}  #[span.trainDeparts #{totalDeparts}] trains depart from Aarhus Hovedbanegård?

					br
					br
					a.btn.btn-primary.btn-lg.btn-custom(href='/days/'+weekdays[0]) Check it out!
